doctype html
html
  head
    title Painel SEGSAT
    link(rel="stylesheet", href="/stylesheets/style.css")
    <meta http-equiv="refresh" content="50" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="Mon, 22 jul 2006 11:12:01 GMT" />
    link(rel="stylesheet", href="/bootstrap/dist/css/bootstrap.min.css")
  body
    block content

    script(src="/jquery/dist/jquery.slim.min.js")
    script(src="/popper.js/dist/umd/popper.min.js")
    script(src="/bootstrap/dist/js/bootstrap.min.js")