extends layout

block content
    .panel
        div(id="carousel" class="carousel slide" data-ride="carousel" data-pause="false")
            div(class="carousel-inner" )

                div(class="carousel-item active" data-interval="15000")
                    .content   
                        img(class="logoCliente height-10" src="/images/logoCliente.jpg", alt="")
                        img(class="float-right height-10" src="/images/logoSegsat.png", alt="")
                    object(class="d-block w-100 height-90" data= panel.link, type="text/html")      
